# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
memory/

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
*.db
*.db-shm
*.db-wal

# scratchpad
/scratchpad
ollama/
AI-Agent-Art-Marketplace/
projects/products/cal-portal/cal-portal@0.0.0
projects/products/cal-portal/vite
projects/products/endless-molt/database/schema.pg.sql

# hardhat
/cache
/artifacts
/typechain-types
/deployments/*.json
coverage.json
.openzeppelin/
my-app/
